<div class="right-container" slim-scroll>
	<div id="carousel" class="carousel slide" data-ride="carousel">
	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	        <div class="item active bg-food">
	        	<div class="carousel-caption">
		            <h1 class="text-white" data-animation="animated jello">Selamat datang di FisikaApp</h1>
		            <p data-animation="animated fadeIn">Aplikasi belajar fisika yang menyenangkan<br>berbasis modern web</p>
	            </div>
	        </div>
	        <!-- <div class="item bg-food" slim-scroll>
	            <div class="carousel-caption">
	                <div class="row">
					 	<div class="col-sm-4">
							<a href="#" class="thumbnail">
								<img src="assets/img/team/1.jpg" alt="Si Ihsan">
							</a>
						</div>
						<div class="col-sm-4">
							<a href="#" class="thumbnail">
								<img src="assets/img/team/2.jpg" alt="Si Hadi">
							</a>
						</div>
						<div class="col-sm-4">
							<a href="#" class="thumbnail">
								<img src="assets/img/team/3.jpg" alt="Si Cecep">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-2">
							<a href="#" class="thumbnail">
								<img src="assets/img/team/4.jpg" alt="Si Firman">
							</a>
						</div>
						<div class="col-sm-4">
							<a href="#" class="thumbnail">
								<img src="assets/img/team/5.jpg" alt="Si Sintia">
							</a>
						</div>
					</div>
					<h2 class="text-white text-uppercase" data-animation="animated bounce">Ini bukan foto penjahat lho!!</h2>
	            </div>
	        </div> -->
	    </div>
	</div>
</div>
<!-- <div class="link-nav">
	<table>
		<tr>
			<td rowspan="2">
				<a class="left" href="#carousel" data-slide="prev">&nbsp;&nbsp;</a>
			</td>
			<td>
				<a class="top disabled" href="#">&nbsp;&nbsp;</a>
			</td>
			<td rowspan="2">
				<a class="right" href="#carousel" data-slide="next">&nbsp;&nbsp;</a>
			</td>
		</tr>
		<tr>
			<td>
				<a class="bottom disabled" href="#">&nbsp;&nbsp;</a>
			</td>
		</tr>
	</table>
</div> -->