<div class="right-container" slim-scroll>
	<div id="carousel" class="carousel slide" data-ride="carousel">
	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	        <div class="item active bg-icon-green">
	        	<div class="carousel-caption">
		            <h2 class="text-white text-left" data-animation="animated jello">Pengertian Tumbukan</h2>
		            <p class="text-left" data-animation="animated fadeIn">Tumbukan merupakan peristiwa bertemunya dua buah benda yang bergerak. Saat tumbukan selalau berlaku hukum kekekalan momentum tapi tidak selalu berlaku hukum kekekalan energi kinetik. Mungkin sebagian energi kinetik diubah menjadi energi panas akibat adanya tumbukan.</p>
	            </div>
	        </div>
	        <div class="item bg-icon-green">
	            <div class="carousel-caption">
	                <h2 class="text-white text-left" data-animation="animated jello">Macam-macam Tumbukan</h2>
		            <p class="text-left"><strong>1. Tumbukan Lenting Sempurna</strong></p>
		            <p class="text-left"><strong>2. Tumbukan lenting Sebagian</strong></p>
		            <p class="text-left"><strong>3. Tumbukan tidak lenting sama sekali</strong></p>
	            </div>
	        </div>
	        <div class="item active bg-icon-green">
	        	<div class="carousel-caption">
		            <h2 class="text-white text-left" data-animation="animated jello">1. Tumbukan Lenting Sempurna</h2>
		            <p class="text-left" data-animation="animated fadeIn">Dua buah benda bisa dibilang mengalami tumbukan lenting sempurna bila tidak ada kehilangan energi kinetik ketika terjadi tumbukan. Energi kinetik sebelum dan sesudah tumbukan sama demikian juga dengan momentum dari sistem tersebut. Dalam tumbukan lenting sempurna secara matematis bisa dirumuskan</p>
		            <h4><code>V1 + V1' = V2 + V2'</code></h4>
		            <h5 class="text-left">
		            	<code>V = Kecepatan</code><br>
		            	<code>V' = Kecepatan Akhir</code>
		            </h5>
	            </div>
	        </div>
	        <div class="item active bg-icon-green">
	        	<div class="carousel-caption">
		            <h2 class="text-white text-left" data-animation="animated jello">2. Tumbukan lenting Sebagian</h2>
		            <p class="text-left" data-animation="animated fadeIn">Dua buah benda dikatakan mengalami tumbukan lenting sebagaian bila ada kehilangan energi kinetik setelah tumbukan. Secara matematis kecepatan masing-masing benda sebelum dan sesudah tumbukan dapat dilihat pada rumus berikut</p>
		            <h4><code>eV1 + V1 = eV2 + V2</code></h4>
		            <h5 class="text-left">
		            	<code>V = Kecepatan</code><br>
		            	<code>e = Koefisien Restritusi</code>
		            </h5>
	            </div>
	        </div>
	        <div class="item active bg-icon-green">
	        	<div class="carousel-caption">
		            <h2 class="text-white text-left" data-animation="animated jello">3. Tumbukan tidak lenting sama sekali</h2>
		            <p class="text-left" data-animation="animated fadeIn">Dua buah benda dikatakan mengalami tumbukan tidak lenting sama sekali jika setelah tumbukan kedua benda tersebut menjadi satu dan setelah tumbukan kedua benda tersebut memiliki kecepatan yang sama. Momentum sebelum dan sesudah tumbukan juga bernilai sama. Secara matematis  dirumuskan:</p>
		            <h4><code> m1V1 + m2V2 =(m1+m2)V'</code></h4>
		            <h5 class="text-left">
		            	<code>m = Momentum</code><br>
		            	<code>V = Kecepatan</code><br>
		            	<code>V' = Kecepatan Akhir</code>
		            </h5>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div class="link-nav">
	<table>
		<tr>
			<td rowspan="2">
				<a class="left" href="#carousel" data-slide="prev">&nbsp;&nbsp;</a>
			</td>
			<td>
				<a class="top disabled" href="#">&nbsp;&nbsp;</a>
			</td>
			<td rowspan="2">
				<a class="right" href="#carousel" data-slide="next">&nbsp;&nbsp;</a>
			</td>
		</tr>
		<tr>
			<td>
				<a class="bottom disabled" href="#">&nbsp;&nbsp;</a>
			</td>
		</tr>
	</table>
</div>